// colors Classes 
//اللوان الي انا مختراها 


.color-primary{
    color:$color-primary;
}
.color-primary-bg{                          // background
    background:$color-primary;
}
// nav color secound color 
.color-secound{
    color:$color-secound;
}
.color-secound-bg{
    background:$color-secound;
}

.color-yellow{
    color:$color-yellow;
}
.color-yellow-bg{
    background:$color-yellow;
}

