/* Fonts classes */

.font-rale{
    font-family: $font-raleway;   // هنا انا بسمي الفونت الي انا مختاروا من جوجل باسم كلاس معين علشان ابدا استدعيه بيها 
}

.font-rubik{
    font-family: $font-rubik;   
}


//  حجم الخطوط للفونتات الي مختارها 

.font-size-12{
    font-size: 12px;  
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-20{
    font-size: 20px;
}