// colors and font 
// طبعا قبل منتجيب الفونتات دي لازم نستدعي شويه خطووط وانا استخدمت جوجل فونت 

$font-raleway:"Raleway",cursive;
$font-rubik:"Rubik",cursive;
$color-primary:#003859;
$color-secound:#00A5C4;
$color-yellow:#FFD289;


